<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="test.Base" />
			<class name="test.Base3">
				<methods>
					<exclude name="Mobile.*"></exclude>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
	<test name="Test2">
		<classes>
			<class name="test.Base2">
				<methods>
					<exclude name="name4"></exclude>
				</methods>
			</class>
			<class name="test.Base"></class>
			<class name="test.Base3"></class>
		</classes>
	</test>
</suite> <!-- Suite -->